{% extends "base.html" %}
{% block conteudo %}
<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Carros Cadastrados</title>
  </head>
  
  <body>
    <form method="GET" action="{% url 'cars_list' %}">
      <input type="text" name="search" placeholder="Buscar Carro...."/>
      <button type="submit">Buscar</button>
    </form>

      <div>
        {% if cars %}
          {% for car in cars %}
          <h3>{{car.brand}} - {{ car.model }} - {{car.factory_year}}</h3>
        {% endfor %}
        {% else %}
          <p>Carro não encontrado</p>
        {% endif %}
    </div>
  </body>

</html>
{% endblock %}




